{{#author}}
<div class="admin-section text-center shadow bg-white">
	{{#if profile_image}}
	<div class="admin-profile shadow" style="background-image: url('{{profile_image}}');"></div>
	{{/if}}
	<h4 class="admin-name">{{name}}</h4>
	<p class="admin-description">{{bio}}<br><small><i class="fas fa-map-marker-alt"></i>{{location}}</p>
	<p class="admin-social">
		{{#if website}}
		<a class="admin-email" target="_blank" rel="noopener" href="{{website}}"><i class="fas fa-globe-asia"></i></a>
		{{/if}}
		{{#if twitter}}
		<a class="admin-twitter" target="_blank" rel="noopener" href="{{twitter_url}}"><i class="fab fa-twitter"></i></a>
		{{/if}}
		{{#if facebook}}
		<a class="admin-facebook" target="_blank" rel="noopener" href="{{facebook_url}}"><i class="fab fa-facebook-square"></i></a>
		{{/if}}
	</p>
</div>
{{/author}}