<footer id="footer" class="footer bg-primary pt-5 pb-5 text-white text-center">
	<div class="container">
		<h4 class="footer-logo">
			{{#if @blog.logo}}
			<img src="{{@blog.logo}}" alt="{{@blog.title}}">
			{{else}}
			{{@blog.title}}
			{{/if}}
		</h4>
		<p class="mb-1 copyright-text">Copyright &copy; {{@blog.title}}. All Rights Reserved.<br>Designed By <a class="credits-link" href="https://www.vasanthdeveloper.com" target="_blank" rel="noopener">Vasanth Developer</a>.</p>
	</div>
</footer>