<!DOCTYPE html>
<html lang="{{lang}}">
<head>
	{{!-- Required meta tags --}}
	<meta charset="UTF-8">
	<meta name="HandheldFriendly" content="True">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>{{meta_title}}</title>

	{{!-- Styles, Fonts and Icons --}}
	<link rel="stylesheet" href="{{asset 'css/samskara.css'}}">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Poppins:400,600,700" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">

	{{!-- This tag outputs SEO meta structured data and other important settings --}}
	{{ghost_head}}
</head>
{{#is "post"}}
<body>
{{else}}
<body onload="initialize();">
{{/is}}
	{{!-- The navigation bar --}}
	<nav class="navbar navbar-light navbar-expand-lg p-3 bg-white border-bottom">
		<div class="container">
			<a class="navbar-brand" href="{{@blog.url}}">
			{{#if @blog.logo}}
			<img class="nav-logo" src="{{@blog.logo}}" alt="{{@blog.title}}">
			{{else}}
			{{@blog.title}}
			{{/if}}
			</a>

			<button class="btn btn-light navbar-toggler" type="button" data-toggle="collapse" data-target="#mainnav" aria-controls="mainnav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="mainnav">
				<ul class="navbar-nav mr-auto">
					{{!-- This tag outputs the list items as navigation --}}
					{{navigation}}
				</ul>
			</div>
			{{!-- Optionally if you would like to have a call to action button --}}
			{{!-- Please uncomment the below line of code --}}
			{{!-- <a class="btn btn-outline-primary btn-sm" href="#" role="button">Projects</a> --}}
		</div>
	</nav>

	{{!-- This tag outputs the content from other hbs files --}}
	{{{body}}}

	{{!-- Ghost outputs important scripts and data with this tag --}}
	{{ghost_foot}}
</body>
</html>