{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}


<main id="article-section" class="single-article bg-light">
	{{#post}}

	{{#if feature_image}}
	<div class="article-cover has-cover lazy" data-src="{{img_url feature_image absolute='true'}}">
	{{else}}
	<div class="article-cover no-cover">
	{{/if}}
		<div class="inner">
			<div class="container">
				<div class="controls">
					<h1 class="post-title">{{title}}</h1>
					<p class="post-meta">{{#primary_author}}<a href="{{url absolute='true'}}">{{name}}</a>{{/primary_author}} on {{#primary_tag}}<a href="{{url absolute='true'}}">{{name}}</a>{{/primary_tag}} | {{date published_at format="DD MMM YYYY"}}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="article-content bg-white">
		<div class="post-content container text-left">
			{{content}}
		</div>
		<div class="post-tags container">
			<div class="row">
				<div class="tags col-sm text-left">
					{{#foreach tags}}
					<a href="{{url absolute='true'}}" class="btn btn-sm">{{name}}</a>
					{{/foreach}}
				</div>
				<div class="share-buttons col-sm text-right">
					<a href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute='true'}}" target="_blank" rel="noopener" class="btn btn-sm twitter" onclick="window.open(this.href, 'share-twitter', 'width=550,height=235');return false;"><i class="fab fa-twitter"></i></a>
					<a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute='true'}}" target="_blank" rel="noopener" class="btn btn-sm facebook" onclick="window.open(this.href, 'share-facebook','width=580,height=296');return false;"><i class="fab fa-facebook-square"></i></a>
					<a href="https://www.reddit.com/submit?title={{encode title}}&amp;url={{url absolute='true'}}" target="_blank" rel="noopener" class="btn btn-sm reddit"><i class="fab fa-reddit-alien"></i></a>
				</div>
			</div>
		</div>
		<div class="author-meta container">
			{{#primary_author}}
			<div class="inner">
				<div class="row">
					<div class="author-img col-sm-2">
						{{#if profile_image}}
						<img class="shadow" src="{{img_url profile_image absolute='true'}}" alt="{{name}}">
						{{/if}}
					</div>
					<div class="author-info col-sm-9">
						<h4 class="author-name">{{name}}</h4>
						<p class="text-muted">{{bio}}</p>
						<p class="author-links">
							<small class="text-muted"><i class="fas fa-map-marker-alt"></i> {{location}}</small>
							{{#if website}}
							<small class="text-muted"><a target="_blank" rel="noopener"  href="{{website}}"><i class="fas fa-globe-asia"></i> Website</a></small>
							{{/if}}
							{{#if twitter}}
							<small class="text-muted"><a target="_blank" rel="noopener" href="{{twitter_url}}"><i class="fab fa-twitter"></i> Twitter</a></small>
							{{/if}}
							{{#if facebook}}
							<small class="text-muted"><a target="_blank" rel="noopener" href="{{facebook_url}}"><i class="fab fa-facebook-square"></i> Facebook</a></small>
							{{/if}}
						</p>
					</div>
				</div>
				<div id="comments">
					<div id="disqus_thread"></div>
					<noscript><hr>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">Comments powered by Disqus.</a></noscript>
				</div>
			</div>
			{{/primary_author}}
		</div>
	</div>

	{{/post}}
</main>

{{!-- This will put the footer --}}
{{> "footer"}}

{{!-- Inject the required JavaScripts --}}
{{> "inject-scripts"}}

{{!-- The code for initializing disqus comments --}}
<script type="text/javascript">
	function returnDisqusSource() {
		if (typeof(DISQUS_USERNAME) == 'undefined') {
			return "";
		} else {
			var commentsContainer = document.getElementById('comments');
			var hrElement = document.createElement("hr");
			commentsContainer.insertBefore(hrElement, commentsContainer.childNodes[0]);
			return "https://" + DISQUS_USERNAME + ".disqus.com/embed.js";
		}
	}

	var disqus_config = function () {
		this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
		this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
	};

	(function() { // DON'T EDIT BELOW THIS LINE
		var d = document, s = d.createElement('script');
		s.src = returnDisqusSource();
		s.setAttribute('data-timestamp', +new Date());
		(d.head || d.body).appendChild(s);
	})();
</script>